.signupInput {
    border: 1px solid rgba(0,0,0,0.2);
    width : 450px;
    height: 50px;
    background-color: white;
    outline-style: none;
    padding-left: 10px;
    margin-bottom: 30px;
}

.signupInput:focus{
    border: 1px solid #836354c9;
}
label {
    display : block;
    margin-bottom : 5px;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
  }

.signupButton {
  margin :10px;
  width : 450px;
  height : 50px;
  border : none;
  background-color: #836354c9;
  font-size : 17px;
  color: white;
  cursor: pointer;
}

.idCheck {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    right: 15px;
    top: 15px;
    background-color: #836354c9;
    color:white;
    width:60px;
    height:35px;
    cursor: pointer;
    vertical-align: middle;
    top:7px;
    right:20px;
    font-size: 13px
}

.idInput {
    position: relative;
}

.id {
    padding-right: 90px;
}

