
.nav-container {
    position: fixed;
    top:0;
    background-color: darkslategrey;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin:0;
    padding: 0;
    
    font-size: 2em;
    padding: 10px;
    flex-direction: row;
    list-style-type: none;
}

.right-top {
    padding: 0.2em;
    border: 1px solid black;
    display:flex;
    cursor: pointer;
}

a {
    border:1px solid black;
    background-color: white;

}
