.Board_list td {
    width: 150px;
    padding:10px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

.Board_list th {
    padding: 10px;
    font-weight: bold;
    color: orange;
    border-bottom: 3px solid orange;
}

.Board_post,  .Board_write{
    margin-top: 100px;
}

.Board_list {
    margin-top: 100px;
    width: 70%;
}

.table {
    border-collapse: collapse;
    position: relative;
}


.Commentline {
    border: 1px solid gray;
}

.Content {
    height: 10em;
}



.boardContent:hover {
    background-color: #ccc;
    cursor: pointer;
}

.Board {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col10 {
    width: 10%;
}

.col15 {
    width: 15%;
}

.col5 {
    width: 5%;
}

.col60 {
    width: 60%;
}

.col12 {
    width: 12%;
}

.col8 {
    width: 8%;
}