.main-page {
	margin: 0;
}
.main-page  div, section, header, footer, p, h1, h2 {
	box-sizing: border-box;
}
a {
	color: rgb(205, 144, 98);
}
.main-page  img {
	max-width: 79%;
	height: auto;
}
.Navigaitionbar{
    z-index: 999;
}
.main-page  .global-width{
    max-width: 620px;
    margin: 0 auto;
    padding: 0 15px;
}

.main-page  .page-title{
    margin-top: 100px;
}
.main-page  .graphic-item{
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 1s;
}
.main-page  .visivle{
    opacity: 1;
}
.main-page  .scroll-graphic{
    position: sticky;
    top:0;
    height:100vh;
}
.main-page  .scroll-img{
    max-height: 60vh;
}
.main-page .scroll-text{
    position: relative;
}
.main-page .bubble{
    z-index: 998;
    padding: 0 auto;
    margin-bottom: 40vh;
    background: rgba(255,255,255,0.8);
    border-radius: 10px;
    box-shadow: rgba(0,0, 0, 0.3) 0 0 3px;
}